:root {
    --electric-crimson: #ff003f;
}
body {
    background-color: black;
    font-family: sans-serif;
    font-size: 1em;
    color: white;
    margin: 0;
}


/* sidebar */

.app-sidebar {
    position: fixed;
    height: 94vh;
    width: 256px;
    padding: 3vh 16px;
}
.app-sidebar img {
    width: 90%;
    padding: 0 5%;
}
.app-sidebar h1 {
    text-transform: uppercase;
    font-size: 1.3em;
    text-align: center;
    margin: 8px 0 0;
}

.app-sidebar .top {
    display: grid;
    padding: 8px;
}
.app-sidebar .top a {
    color: white;
    text-decoration: none;
    padding: 4px;
}
.app-sidebar .top a:hover {
    color: var(--electric-crimson);
    font-style: italic;
}

@media only screen and (max-width: 700px) {
    .app-sidebar {
        height: fit-content;
        width: 100%;
        padding: 1vh;
        background-color: black;
        z-index: 1;
    }
    .app-sidebar img {
        display: none;
    }
    .app-sidebar h1 {
        color: var(--electric-crimson);
        margin: 0;
    }
    .app-sidebar .top {
        display: flow;
        width: 100%;
        text-align: center;
        padding: 8px 0;
    }
}


/* content */

.app-content {
    position: absolute;
    left: 290px;
    width: calc(98% - 290px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    width: 100%;
}
.content img {
    width: 100%;
    cursor: pointer;
}

.grid-sizer {
    margin: 0.6%;
    margin-top: 3vh;
    width: 32%;
}
.grid-item {
    margin: 0 0.6% 1%;
    width: 32%;
}

@media only screen and (max-width: 700px) {
    .app-content {
        left: 0;
        top: 70px;
        width: 100%;
    }
}


/* modal */

.app-modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    background-color: #0009;
    z-index: 2;
}
.app-modal img {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 96%;
}

.app-modal span {
    color: white;
    position: absolute;
    top: 1vh;
    right: 1vw;
    font-size: 2em;
    font-weight: bold;
    transition: 0.3s;
}
.app-modal span:hover {
    color: var(--electric-crimson);
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .app-modal img {
        max-width: 100%;
    }
}


/* faq */

.faq {
    width: 98%;
}
.faq h1 {
    text-transform: uppercase;
}
.faq h2 {
    font-size: inherit;
    color: #888;
}

.faq a {
    color: var(--electric-crimson);
}
.faq a:hover {
    color: white;
}

@media only screen and (max-width: 700px) {
    .faq {
        width: 90%;
    }
}